{% extends 'layout.html' %}

{% block content %}

  <p>The Collecting Taxes Database contains performance and structural indicators about national tax systems. The database contains quantitative revenue performance indicators, such as how well a particular tax performs in generating revenues for the treasury, given its overall rate structure, and how well the overall tax system produces revenues, given the costs of administering the tax system. The database also provides tax rate information, such as the general VAT rate or the general corporate income tax rate. Other indicators describe the main features of tax administrations and economic indicators are included so that performance, rate competitiveness, and structure can be compared given the levels of country development and other factors.</p>

{% endblock %}
